<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
  <a class="navbar-brand" href="/">BlogPosts</a>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(Página atual)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/categorias">Categorias</a>
      </li>

      {{#if user}}

        <li class="nav-item">
          <a class="nav-link" href="/usuarios/deslogar">Deslogar</a>
        </li>

      {{else}}

        <li class="nav-item">
          <a class="nav-link" href="/usuarios/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/usuarios/registro">Registro</a>
        </li>

      {{/if}}

    </ul>
  </div>
  <form class="form-inline mt-3">
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Pesquisar"
      aria-label="Pesquisar"
    />
    <button
      class="btn btn-outline my-2 my-sm-0"
      type="submit"
    >Pesquisar</button>
  </form>
</nav>