<nav class="navbar navbar-dark bg-dark" style="color: white;">
  <a class="navbar-brand">BlogPosts</a>
  <form class="form-inline mt-3">
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Pesquisar"
      aria-label="Pesquisar"
    />
    <button
      class="btn btn-outline my-2 my-sm-0"
      type="submit"
    >Pesquisar</button>
  </form>
</nav>