{{#each erros}}
     <div class="alert alert-danger">{{texto}}</div>
{{/each}}

<h2>Crie sua conta:</h2>

<div class="card">
  <div class="card-body">
    <form action="/usuarios/registro" method="post">
      <div class="form-group">
        <label for="nome">Nome:</label>
        <input
          type="text"
          name="nome"
          id="nome"
          class="form-control"
          placeholder="Nome completo..."
          required
        />
      </div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          name="email"
          id="email"
          class="form-control"
          placeholder="joaogustavopereira@gmail.com"
          required
        />
      </div>

      <div class="form-group">
        <label for="senha">Senha:</label>
        <input
          type="password"
          name="senha"
          id="senha"
          class="form-control"
          placeholder="********"
          required
        />
      </div>

      <div class="form-group">
        <label for="senha2">Repita a senha:</label>
        <input
          type="password"
          name="senha2"
          id="senha2"
          class="form-control"
          placeholder="********"
          required
        />
      </div>

      <button type="submit" class="btn btn-success">Criar conta</button>

    </form>
  </div>
</div>